* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
}

body {
    margin: 4%;
    background: linear-gradient(0deg, rgba(156, 39, 176, 0.9), rgba(156, 39, 176, 0.9)), url("../images/zuri.svg");
    background-repeat: space;

}

a {
    text-decoration: none;
}

header,
header a {
    color: #F8F6F9;
}

header h3,
h3 span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

header h3 {
    font-size: 2.2em;
}

h3 span {
    font-size: 2.7em;
}

header ul {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif !important;
    font-size: 1.2em;
}

.header-top {
    border-top: 1px solid #303030;
    border-bottom: 1px solid #303030;
}

.header-bottom {
    border-top: 4px solid #303030;
}

section {
    color: #303030;
    background-color: #F8F6F9;
    border-radius: 3px;
    padding: 25px;
}

section h5 {
    font-family:'Times New Roman', Times, serif !important;
    font-weight: bold;
    font-size: 2.2em !important;
}

section ul,
section p,
section h6 {
    font-size: 1.7em;
}

section a {
    color: #303030;
}

.professional-summary p {
    text-align: justify;
    font-size: 1.7em;
}

.skills-left,
.skills-right {
    width: 50%;
}

span {
    font-weight: bold;
}

footer p,
footer a,
footer a:hover {
    font-size: 1.2em;
    text-decoration: none;
    color: #F8F6F9;
    font-weight: bold;
}

@media (max-width: 991px) {
    header h3 {
        font-size: 1.7em;
    }

    header ul {
        font-size: 0.7em;
    }
    
    section h5 {
        font-size: 1.7em !important;
    }
    
    section ul,
    section p,
    section h6 {
        font-size: 1.2em;
    }
    
    .professional-summary p {
        font-size: 1.2em;
    }
    
    footer p,
    footer a,
    footer a:hover {
        font-size: 0.7em;
    }
}

@media (max-width: 576px) {
    header h3 {
        font-size: 1.2em;
    }
    
    section h5 {
        font-size: 1.2em !important;
    }
    
    section ul,
    section p,
    section h6 {
        font-size: 0.7em;
    }
    
    .professional-summary p {
        font-size: 0.7em;
    }
    
    footer p,
    footer a,
    footer a:hover {
        font-size: 0.7em;
    }
}